<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<div class="backed-projects">
<h3><%= @user.first_name %> has backed <%= @user.backed_projects.count %> projects:</h3>
  
  <h4>Successfully funded projects</h4>
  <% if @user == current_user %>
      <p>You've contributed $<%= @user.collected_pledges %> towards <%= @user.successful_backed_projects.length %> successfully funded projects!</p>
  <% end %>
  <% @user.successful_backed_projects.each do |project| %>
      <h5><%= link_to project.name, project_path(project) %></h5>
  <% end %>

  <% if @user.unexpired_projects.length > 0 %>
    <h4>Projects still running</h4>
    <% if @user == current_user %>
      <p>You've committed $<%= @user.uncommitted_pledges %> towards <%= @user.unexpired_projects.length %> which haven't yet reached their project end date. Help them make their final push!</p>
    <% end %>
    <% @user.unexpired_projects.each do |project| %>
      <h5><%= link_to project.name, project_path(project) %></h5>
    <% end %>
  <% end %>

</div>

