<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<div class="owned-projects">
  <% if @user.owned_projects.count > 0 %>
    <h3><%= @user == current_user ? "Your" : "#{@user.first_name}'s" %> Projects</h3>
    <% @user.owned_projects.each do |project| %>
      <p><%= link_to project.name, project_path(project) if project.is_current? %><br> 
        <%= distance_of_time_in_words(project.end_date, Time.now) %> left.</p>
    <% end %>
    <h5>Past Projects</h5>
    <% @user.owned_projects.each do |project| %>
      <p><%= link_to project.name, project_path(project) if !project.is_current? %></p>
    <% end %>
  <% else %>
    <p><%= link_to "Set up your first project!", new_project_path %></p>
  <% end %>
</div>


<div class="backed-projects">
  <h3><%= @user == current_user ? "You have" : "#{@user.first_name} has" %> backed <%= @user.successful_backed_projects.count %> projects:</h3>
  
  <h4>Successfully funded projects</h4>
  <% if @user == current_user %>
      <p>You've contributed $<%= @user.collected_pledges %> towards <%= pluralize(@user.successful_backed_projects.length, "project") %> that are successfully funded!</p>
  <% end %>
  
  <% @user.successful_backed_projects.each do |project| %>
      <h5><%= link_to project.name, project_path(project) %></h5>
  <% end %>

  <% if @user.unexpired_projects.length > 0 %>
    <h4>Projects still running</h4>
    
    <% if @user == current_user %>
      <p>You've committed $<%= @user.uncommitted_pledges %> towards <%= pluralize(@user.unexpired_projects.length, "project") %> that haven't yet reached their project end date. Help them make their final push!</p>
    <% end %>
    
    <% @user.unexpired_projects.each do |project| %>
      <h5><%= link_to project.name, project_path(project) %></h5>
    <% end %>
  <% end %>

</div>

<div class="comments">
  <h2>Talk about this user</h2>
  <% if @user.comments %>
    <% @user.comments.each do |comment| %>
      <%= comment.body %> <br>
    <% end %>
  <% end %>

  <% if current_user != @user %>
    <div class="new-comment">
      <h3>Add a comment</h3>
      <%= form_for [@user, @comment] do |c| %>
        <div class='field'>
          <%= c.label :body %> <br>
          <%= c.text_area :body %>
        </div>
        <%= c.submit %>
      <% end %>
    </div>
  <% end %>
</div>


