<h2><%= @project.name %></h2>

<div class="goal">
  <h3>Funding Goal: $<%= @project.goal %></h3>

  <p>Project start date: <%= @project.start_date.to_date.to_s(:long_ordinal) if @project.start_date %></p>
  <p>Project end date: <%= @project.end_date.to_date.to_s(:long_ordinal) if @project.start_date %></p>
</div>

<div class="description">
  <p><%= @project.description %></p>
</div>

<div class="tiers">
  <h3>Pledge Tiers</h3>
  <% @project.tiers.each do |tier| %>
    <p>
      <strong>Pledge $<%= tier.amount %></strong> <br>
      <strong>Get: </strong><%= tier.description %> <br>
    
      <% if current_user.id != @project.owner_id %>
        <%= button_to "Get this!", new_pledge_path, method: :post, params: { tier: tier.id, amount: tier.amount } %>
      <% end %>
    </p> 
  <% end %>
</div>

<%= link_to 'All Projects', projects_path %>
