<h1><%= @project.name %></h1>

<div class="funding">
  <h2>Funding Raised: $<%= @project.current_funding %></h2>
  <h3>Funding Goal: $<%= @project.goal %></h3>

  <% if @project.is_funded? %>
    <p class="is_funded">This project has met its goal! Everybody wins!</p>
  <% end %>

  <p>
    Project end date <%= @project.is_current? ? "is" : "was" %> <%= date_display(@project.end_date) %>. 
  
    <% if @project.is_current? %>
      <em>Only <%= distance_of_time_in_words(@project.end_date, Time.now) %> left!</em>
    <% end %>
  
    <br>Project start date: <%= date_display(@project.start_date) %>.
  </p>

</div>

<div class="description">
  <h2>About the project:</h2>
  <p><%= @project.description %></p>
</div>

<div class="tiers">
  <h3>Pledge Tiers</h3>
  <% @project.tiers.each do |tier| %>
    <p>
      <strong>Pledge $<%= tier.amount %></strong> <br>
      <strong>Get: </strong><%= tier.description %> <br>
    
      <% if current_user && current_user.id != @project.owner_id %>
        <%= button_to "Get this!", new_pledge_path, method: :post, params: { tier: tier.id, amount: tier.amount } %>
      <% end %>
    </p> 
  <% end %>
</div>

<%= link_to 'All Projects', projects_path %>
